<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose room</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Choose lobby</h4>
          
        <div class="row">
            <div class="col s12">
                <ul id="tab" class="tabs tabs-fixed-width">
                    <li class="tab col s3"><a class="active" href="#new_l">New</a></li>
                    <li class="tab col s3"><a href="#existing_l">Existing</a></li>
                </ul>
            </div>

          <div class="col s12" id="new_l">
            <br>
            <a class="btn green waves-effect" href="/room/new">New lobby</a>
          </div>

          <div class="col s12" id="existing_l">
            <br>
            <input type="text" placeholder="Enter lobby ID here..." id="inputRoomId">
            <a onclick="jumpToRoom()" class="btn green waves-effect">Enter lobby</a>
          </div>            
        </div>

        </div>
        <div class="modal-footer">
          <a href="https://www.google.com/" class="modal-close waves-effect waves-green btn-flat">Leave</a>
        </div>
      </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>

        const _ = function(el){
            return document.getElementById(el)
        }


        const jumpToRoom = function(){
            window.location = `/room/${_("inputRoomId").value}`
        }

        const Modal = M.Modal.init(_('modal1'), {
            dismissible: false,
            onOpenEnd: ()=>{
                M.Tabs.init( document.querySelectorAll('.tabs'))
            }
        })


        Modal.open()


    </script>
</body>
</html>